{% extends 'base.html.twig' %}

{% block title %}Creer un groupe{% endblock %}

{% block body %}

<form action="" method="post" enctype="multipart/form-data">

{{form_start(createGroupeForm)}}


{{form_errors(createGroupeForm.nom)}}
{{form_widget(createGroupeForm.nom)}}

{{form_errors(createGroupeForm.file)}}
{{form_widget(createGroupeForm.file)}}

{{form_widget(createGroupeForm.creer)}}


{{form_end(createGroupeForm)}}
</form>
{% endblock %}