{% extends 'base.html.twig' %}

{% block title %}Creer un groupe{% endblock %}
{% block stylesheets %}
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="{{ asset('images/icons/favicon.ico') }}" />
<!--===============================================================================================-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--===============================================================================================-->
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{{ asset('css/util.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
<!--===============================================================================================-->
<style>
    .form-control:focus {
        box-shadow: none;
    }

    .form-group {
        border-bottom: 1px solid rgb(196, 196, 196);
    }

    .form-control-underlined {
        border-width: 0;
        border-bottom-width: 1px;
        border-radius: 0;
        padding-left: 0;
    }

    .form-control::placeholder {
        font-size: 0.95rem;
        color: #aaa;
    }
</style>
{% endblock %}

{% block body %}
<div class="container-login100" style="background-image: url('{{ asset('images/bg-01.jpg') }}');">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <form action="" method="post" enctype="multipart/form-data">
            <span class="login100-form-title p-b-49">
                Créer un groupe
            </span>

            {{form_start(createGroupeForm)}}


            <div class="form-group mb-4">
                {{form_errors(createGroupeForm.nom)}}
                {{form_widget(createGroupeForm.nom)}}
            </div>


            {{form_errors(createGroupeForm.file)}}
            {{form_widget(createGroupeForm.file)}}

            {# barre de recherche des utilisateurs non fonctionnel #}
            {# <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                <div class="input-group">
                    <input type="text" id="search-user-js" name="" class="form-control border-0 bg-light"
                        placeholder="Rechercher des utilisateurs">
                    <div>
                        <div id="result-search-js"></div>
                    </div>
                </div>
            </div> #}

            <div class="container">
                {% for user in users %}
                {% if user.id != app.user.id %}
                <label for="-{{user.id}}" class="w-100" style="cursor:pointer;">
                    <div class="d-flex mb-3 border-bottom align-items-center w-100">
                        <div class="image">
                            <img height="50px" width="50px" src="{{asset('images/upload/' ~ user.photo)}}" alt="">
                        </div>
                        <div class="informations ml-2 d-flex justify-content-between w-100">
                            <h5>{{user.username}}</h5>
                            <input type="checkbox" id="-{{user.id}}" name="userId[]" value="{{user.id}}">
                        </div>

                    </div>
                </label>
                {% endif %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center">
                {{form_widget(createGroupeForm.creer)}}
            </div>



            {{form_end(createGroupeForm)}}
        </form>
    </div>
</div>


{% endblock %}



{% block javascripts %}
{# barre de recherche des utilisateurs non fonctionnel #}
{# <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


<script>
    $(document).ready(function () {
        $('#search-user-js').keyup(function () {

            const user = $(this).val();
            let url = "{{ path('search_user') }}";
            if (user != "") {
                $.ajax({
                    type: 'POST',
                    dataType: "json",
                    url: url,
                    data: 'user=' + encodeURIComponent(user),
                    success: function (data) {
                        if (data != "") {
                            $('#result-search-js').append(data)
                        } else {
                            document.getElementById('result-search-js').innerHTML = "<div style='font-size: 20px'>Aucun Utilisateur </div>"
                        }

                    }

                })
                console.log(url)
            }
        })
    })
</script> #}
{% endblock %}